@using ElectronicColorCode.Models
@model ECC
@{
    ViewBag.Title = "Resistor Calculator";
}

<h2>Resistor Calculator</h2>

<div class="form-group" id="index">
    @using (Html.BeginForm("Index", "ECC", FormMethod.Post, new { role = "form" }))
    {
    <div class="row">
        <div class="col-lg-5">            
            <div class="row">
                @Html.LabelFor(m => m.BandAColor)
                @Html.DropDownListFor(m => m.BandAColor, Model.BandAColors, "Select a color for band A", new {id="bandA", @class = "form-control", onchange= "updateStyle(bandA)" })
                @Html.ValidationMessageFor(m => m.BandAColor)
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.BandBColor)
                @Html.DropDownListFor(m => m.BandBColor, Model.BandBColors, "Select a color for band B", new { id = "bandB", @class = "form-control", onchange= "updateStyle(bandB)" })
                @Html.ValidationMessageFor(m => m.BandBColor)
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.BandCColor)
                @Html.DropDownListFor(m => m.BandCColor, Model.BandCColors, "Select a color for band C", new { id = "bandC", @class = "form-control", onchange = "updateStyle(bandC)" })
                @Html.ValidationMessageFor(m => m.BandCColor)
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.BandDColor)
                @Html.DropDownListFor(m => m.BandDColor, Model.BandDColors, new { id = "bandD", @class = "form-control", @Value="None", onchange = "updateStyle(bandD)" })
                @Html.ValidationMessageFor(m => m.BandDColor)
            </div>
            <br />
        </div>
        <div class="col-lg-5 text-center">
            <br />
            <div class="row">
                @Html.LabelFor(m => m.OhmValue)
                @Html.DisplayTextFor(m => m.OhmValue)
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.UpperBoundValue)
                @Html.DisplayTextFor(m => m.UpperBoundValue)
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.LowerBoundValue)
                @Html.DisplayTextFor(m => m.LowerBoundValue)
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </div>
    }
</div>
